.header-bg { 

  background-image: url('/bannerHome.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  padding: 23rem; 
} 

.boton-home {
  position: absolute;
  top: 35rem;
  left: 20rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
} 

.image-boton {
    width: 80%;
}

