.contenedor-parrafo {
    position: absolute;
    
    width: 55% ;

    top: 14rem;
    left: 6rem;
     
} 

h1 {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    text-align: left;
}

.parrafo-chiste {
   font-family: 'Courier New', Courier, monospace;
   font-weight: 500;
   font-style: normal;
   font-size: 1.8rem;
   text-align: left;
}

.image-chuck3 {
    position: absolute;   
    top: 5.5rem;
    right: 2rem;
}